In [1]:
import time
import glob as glob
from zipfile import ZipFile
from bs4 import BeautifulSoup
import dateutil.parser as dparser
from datetime import datetime
import pandas as pd
import multiprocessing as mp
import numpy as np

In [2]:
root_dir = '/home/shane/Documents/thesis/output/cleaned/'
files = glob.glob(root_dir + '*.csv')
df = pd.DataFrame()

In [3]:
for file in files:
    temp = pd.read_csv(file)
    df = pd.concat([df, temp], axis=0)

In [4]:
df.head()

,source,service,timestamp_dir,timestamp_site,operational_count,operational_pct,partial_outage_count,partial_pct,major_outage_count,major_pct,maint_count,maint_pct
0,slack,slack,2020-03-26 12:00:01,NaN,10,1.0,0,0.0,0,0.0,0,0.0
1,slack,slack,2020-03-26 13:00:01,NaN,10,1.0,0,0.0,0,0.0,0,0.0
2,slack,slack,2020-03-26 14:00:02,NaN,10,1.0,0,0.0,0,0.0,0,0.0
3,slack,slack,2020-03-26 15:00:01,NaN,10,1.0,0,0.0,0,0.0,0,0.0
4,slack,slack,2020-03-26 16:00:01,NaN,10,1.0,0,0.0,0,0.0,0,0.0

In [5]:
df.to_csv(r'/home/shane/Documents/thesis/output/final/failures.csv', index=False)

### Sample for the paper, minus pct columns

In [6]:
no_pct = df[['source','service','timestamp_dir','timestamp_site','operational_count','partial_outage_count','major_outage_count','maint_count']]
sample = no_pct.sample(frac=0.5, replace=False, random_state=2).head(8)
sample

,source,service,timestamp_dir,timestamp_site,operational_count,partial_outage_count,major_outage_count,maint_count
312081,downdetector-mex-mexico,amazon,2018-09-15 04:00:01,2018-09-14T23:01:15.123212-05:00,1,0,0,0
80136,downrightnow,youtube,2018-06-16 05:00:01,"Sat, June 16, 2018 12:58 AM EDT",1,0,0,0
221581,downdetector-ita-italy,netflix,2017-12-28 23:00:01,2017-12-29T00:06:01.375026+01:00,0,1,0,0
207225,downdetector-jpn-japan,youtube,2017-12-25 01:00:01,2017-12-25T10:01:27.536425+09:00,0,1,0,0
60490,downdetector-ita-italy,amazon,2017-11-15 06:00:01,2017-11-15T07:00:12.696812+01:00,1,0,0,0
228337,downrightnow,livejournal,2019-07-09 12:00:01,"Tue, July 9, 2019 7:58 AM EDT",1,0,0,0
93353,downdetector-deu-germany,slack,2017-11-24 04:00:02,2017-11-24T05:01:03.293089+01:00,1,0,0,0
301535,downdetector-swe-sweden,youtube,2018-09-12 07:00:02,2018-09-12T09:00:25.497758+02:00,1,0,0,0